<h2 [class]="{ 'text-uppercase': booleanVariable }">{{ title }}</h2>
<ul>
  <!-- ngForOf directive can be used to iterate over array items -->
  <!-- class binding & ngClass directive -->
  <li [ngClass]="{ 'text-lg-start': true }" *ngFor="let course of courses">
    {{ course }}
    <div [ngSwitch]="course">
      <div *ngSwitchCase="'Math 101'">Math Course starts in 3 days.</div>
      <div *ngSwitchCase="'Science 101'">Science Course starts in 1 days.</div>
      <div *ngSwitchDefault>Unknown start date.</div>
    </div>
  </li>
</ul>
